/* src/assets/styles/components/_button.scss  */

.btn {
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-dark;
  padding: 26px 52px;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
  border-radius: 100px;


  &-primary {
    background: $color-yellow;

    &:hover, &:focus {
      color: $color-white;
      background: $color-dark;
    }
  }

  &-transparent {
    background: rgba(217,217,217, 0.1);
    color: $color-white;

    &:hover, &:focus {
      color: $color-dark;
      background: $color-yellow;
    }
  }

  &-gray {
    background-color: #D9D9D9;

    &:hover, &:focus {
      color: $color-dark;
      background: $color-yellow;
    }
  }
}

.btn-video {
  position: relative;
  padding: 10px;
  width: 120px;
  height: 120px;
  display: inline-flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &-bg {
    width: 100%;
    height: 100%;
    background-color: $color-yellow;
    transition: background-color 0.15s;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
      background: $color-dark;
    }
  }

  img {
    width: 24px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("@~images/video-btn-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
