/* src/assets/styles/components/_button.scss  */

.btn {
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-dark;
  padding: 26px 52px;
  border: none;
  outline: none;

  &-primary {
    background: $color-yellow;
    border-radius: 100px;
  }
}
