.slider {
  &-next,
  &-prev {
    background-color: rgba(22, 22, 22, 0.02);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-image: url("@~images/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 10px;
    cursor: pointer;
  }

  &-prev {
    transform: rotate(-180deg);
  }
}
