mixin popular-item(img, title)
  .swiper-slide.popular__slide
    a(href="#").popular__item(data-aos="zoom-in" data-aos-offset="100")
      .popular__item-image
        img(src=img)
      .popular__item-title=title
