mixin trainer-item()
  .trainer__item
    .trainer__item-img
      img(src=require("images/trainer01.png"))
    .trainer__item-title
      p Алла Иванова
        span Фитнес-тренер
    .trainer__item-skills
      .trainer__item-skill Кандидат в мастера спорта по жиму штанги лежа.
      .trainer__item-skill Чемпион России по боксу.
      .trainer__item-skill Имеет диплом "Фитнес-тренер групповых программ".
      .trainer__item-skill Опыт работы - 5 лет.
