extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Index page
  section(style="margin-top: 10rem")
    p
      a(href="/home").h1 Главная
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalOne') Оставить заявку
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalTwo') Спасибо за заявку
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalTree') Кроссфит
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalFour') Тренер
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalFive') Согласие на обработку персональных данных
    p
      a.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#modalSix') Договор-оферта


  // Modal
  +modals
