/* src/assets/styles/layout/_general.scss  */


body {
  font-family: $font-playfair-display;
  color: $color-dark;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @media (min-width: 1400px) {
    max-width: 1170px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin: 0;
}

h2, .h2 {
  font-family: $font-playfair-display;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 120%;

  @include mobile {
    font-size: 33px;
  }
}

.paragraph {
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;

  @include mobile {
    font-size: 16px;
  }
}

.simplebar-scrollbar:before {
  background-color: $color-yellow;
  opacity: 1;
  border-radius: 0;
}

.simplebar-track {
  background-color: #666665;
  opacity: 1;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.body-lock {
  overflow: hidden;
  padding-right: 0;
}

.z-index-5 {
  z-index: 5;
}
