/* src/assets/styles/layout/_page.scss  */

.start {
  position: relative;
  min-height: 1020px;
  overflow: hidden;

  &__bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__sportmen {
    position: absolute;
    left: -165px;
    bottom: -145px;
    max-width: vw(600);

    img {
      width: 100%;
      height: 100%;
    }

    @include desktop-xl {
      max-width: px(600);
    }

    @include desktop {
      max-width: px(500);
    }

    @include tablet {
      max-width: px(440);
    }

    @include mobile {
      display: none;
    }
  }

  &__title {
    padding: 160px 45px 0;

    &-img {
      width: 100%;
    }

    &-text {
      position: relative;
      color: $color-white;
      z-index: 1;
      left: vw(380);

      h1 {
        font-family: $font-playfair-display;
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 120%;
      }

      p {
        font-family: $font-manrope;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 135%;
        opacity: 0.4;
      }

      .btn {
        margin-top: 25px;
      }

      .btn-video {
        margin-left: 76px;
      }

      @include tablet {
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 30px 0;
        align-items: center;
        text-align: center;
        left: 0;

        h1 {
          font-size: 33px;
        }

        p {
          font-size: 20px;
        }

        .btn-video {
          margin: 0;
        }
      }
    }

  }

  &__numbers {
    left: vw(380);
    width: vw100(380);
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0;

    &-item {
      position: relative;
      padding: 15px 0 150px;
      border-radius: 10px;
      overflow: hidden;
      width: 246px;
      text-align: center;

      &:before {
        position: absolute;
        content: "";
        background-image: url("@~images/bg-num.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      &:nth-child(1) {
        bottom: -140px;
      }

      &:nth-child(2) {
        bottom: -130px;
      }

      &:nth-child(3) {
        bottom: -120px;
      }

      &:nth-child(4) {
        bottom: -110px;
      }

      &:nth-child(5) {
        bottom: -100px;
        margin-right: 15px;
      }
    }

    &-num {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 700;
      font-size: 90px;
      line-height: 1;
      color: $color-white;

      @include tablet {
        font-size: 60px;
      }
    }

    &-text {
      @extend .paragraph;
      text-align: center;
      color: $color-white;
      opacity: 0.4;
    }

    @media (max-width: 1740px) {
      display: flex;
      flex-wrap: wrap;
      flex-flow: wrap-reverse;
      justify-content: flex-end;
      gap: 10px;

      & > * {
        flex: 0 0 25%;
        padding: 30px 15px;
        bottom: 0!important;
        margin: 0!important;
      }
    }

    @media (max-width: 1440px) {
      display: flex;
      flex-wrap: wrap;
      flex-flow: wrap-reverse;
      justify-content: flex-end;
      gap: 10px;

      & > * {
        flex: 0 0 calc(33% - 30px);
        padding: 30px 15px;
        bottom: 0!important;
        margin: 0!important;
      }
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      position: relative;
      left: 0;
      width: 100%;
      padding-right: 12px;
      padding-left: 12px;
      gap: 30px;

      &-item {
        width: 100%;
        bottom: 0!important;
        padding: 30px 15px;
      }
    }
  }

  @include mobile {
    padding-bottom: 30px;
  }
}

.photo {
  padding-top: 80px;
  overflow: hidden;
  position: relative;

  &__title {
    text-align: center;
    z-index: 3;

    .col-12 {
      z-index: 3;
    }

    h2 {
      margin-bottom: 17px;
    }

    p {
      @extend .paragraph;
      opacity: 0.4;
    }

    &:before {
      content: "";
      position: absolute;
      top: 38px;
      width: 100%;
      height: 331px;
      left: 0;
      background-image: url("@~images/photo-line.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 2;

      @include desktop-xl {
        height: vw(331);
      }

      @media (max-width: 991px) {
        top: 110px;
      }

      @include mobile {
        top: 150px;
      }
    }
  }

  &__slider {
    height: 860px;

    &-nav {
      position: absolute;
      right: 0;
      bottom: 88px;
      width: 155px;
      height: 70px;
      z-index: 1;
      display: flex;
      gap: 15px;

      @include mobile {
        height: 50px;
        bottom: 140px;
        left: calc(var(--bs-gutter-x) * .5);
      }
    }

    .slider-prev,
    .slider-next {
      background-color: $color-white;
    }

    .swiper {
      height: 100%;
    }

    @include mobile {
      height: 580px;
    }
  }

  &__slide {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      position: absolute;
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 700;
      display: inline-block;
      font-size: 36px;
      line-height: 135%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 30px 45px;
      color: $color-white;
      margin: 0;
      bottom: 88px;
      background-color: rgba(217,217,217, 0.1);
      border-radius: 10px;

      @include mobile {
        padding: 15px 25px;
        bottom: 40px;
        font-size: 24px;
      }
    }
  }
}

.popular {
  padding: 80px 0;
  position: relative;

  &__box {
    display: flex;
    align-items: flex-end;

    @include mobile {
      flex-direction: column;
    }
  }

  &__header {

  }

  &__title {
    display: flex;

    h2 {
      margin: 0;

      span {
        color: $color-yellow;

        @include mobile {
          &:before {
            content: "6 ";
            white-space: nowrap;
          }
        }
      }

      @include mobile {
        text-align: center;
      }
    }
  }

  &__num {
    font-family: $font-playfair-display;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 120px;
    color: $color-yellow;
    margin-right: 17px;

    @include mobile {
      display: none;
    }
  }

  &__dec {
    margin-top: 24px;

    p {
      @extend .paragraph;
      opacity: 0.4;
      margin: 0;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__items {
    padding-top: 70px;
    position: relative;
    z-index: 3;
  }

  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__row {
    margin-top: -16px;
    margin-right: -16px;
    margin-left: -16px;
  }

  &__col {
    padding: 16px;
  }

  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    display: block;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(7.23deg, #343330 2.95%, rgba(0, 0, 0, 0) 100.29%);
    }

    &-image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      position: absolute;
      bottom: 46px;
      left: 48px;
      padding: 21px 28px;
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 700;
      font-size: vw(18);
      line-height: 130%;
      color: $color-white;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background-color: rgba($color-white, 0.1);
      border-radius: 10px;

      @include desktop-xl {
        font-size: 24px;
      }

      @include mobile {
        font-size: 18px;
        bottom: 15px;
        left: 15px;
      }
    }
  }

  &__slider {
    height: 1350px;
    position: relative;

    @include mobile {
      height: 800px;
    }
  }

  &__slider-btn {
    display: flex;
    gap: 15px;

    @include mobile {
      align-self: center;
      margin-top: 30px;
    }
  }

  &__slide {
    height: calc((100% - 60px) / 3) !important;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 133px;
    left: 0;
    background-image: url("@~images/bg-ring.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    @include desktop-xl {
      height: vw(133);
    }
  }
}

.subscription {
  background-image: url("@~images/subscription-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;

  &__title {
    color: $color-white;
    text-align: center;
    margin-bottom: 22px;
  }

  &__dec {
    @extend .paragraph;
    color: $color-white;
    text-align: center;
  }
}

.schedule {
  background-color: #F3F3F5;
  padding: 80px 0;
  overflow: hidden;

  &__title {
    h2 {
      text-align: center;
    }

    p {
      @extend .paragraph;
      text-align: center;
    }
  }

  &__table {
    margin-top: 52px;
    overflow: auto;
    padding-bottom: 30px;

    table {
      border-radius: 10px;
      table-layout: fixed;
      width: 100%;
      min-width: 1000px;

      td, th {
        text-align: center;
        padding: 32px 0;
        border: 1px solid #F3F3F5;
        background-color: $color-white;
      }

      th {
        font-family: $font-manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
  }

  &__td {
    vertical-align: middle;
    position: relative;

    &-time,
    &-lesson {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &-teach {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 7px;
      width: 80%;
      border-radius: 5px 5px 0 0;
      background-color: #F3F3F5;
    }

    &--2F80ED {
      &:before {
        background-color: #2F80ED;
      }
    }

    &--9B51E0 {
      &:before {
        background-color: #9B51E0;
      }
    }

    &--F2994A {
      &:before {
        background: #F2994A;
      }
    }

    &--B30936 {
      &:before {
        background-color: #B30936;
      }
    }

    &--E6ADBC {
      &:before {
        background-color: #E6ADBC;
      }
    }

    &--27AE60 {
      &:before {
        background-color: #27AE60;
      }
    }
  }

  &__call {
    position: relative;
    display: flex;
    padding-top: 90px;


    & > * {
      flex: 0 0 50%;
      max-width: 50%;

      @include mobile {
        margin: 0;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    form {
      h2 {
        margin-bottom: 24px;
      }

      .btn {
        width: 100%;
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__phone {
    width: 750px;
    position: absolute;
    bottom: -400px;
    left: 0;

    @media (max-width: 1200px) {
      bottom: -250px;
    }

    @media (max-width: 991px) {
      bottom: 0;
    }

    @include mobile {
      position: relative;
      bottom: 0;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.stock {
  padding: 80px 0;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__title {
    display: flex;

    h2 {
      margin-right: 65px;
    }

    p {
      @extend .paragraph;
      opacity: 0.8;
    }

    @include mobile {
      h2 {
        margin: 0;
      }

      flex-direction: column;
      text-align: center;
    }
  }

  &__slider-btn {
    display: flex;
    gap: 15px;

    @include mobile {
      margin-top: 30px;
      align-self: center;
    }
  }

  &__item {
    transition: opacity 0.15s;
    width: 100%;

    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.trainer {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background-color: rgba($color-dark, 0.9);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("@~images/treiner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }


  &__fact,
  &__head,
  &__footer {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    background-image: url("@~images/trainer-box.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 90px 110px;
    color: $color-white;
    z-index: 1;

    &-two {
      color: $color-white;
      margin-left: -44px;
      margin-right: -44px;
    }

    @include mobile {
      padding: 30px 15px;
    }
  }

  &__head {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 14px;
    }

    p {
      @extend .paragraph;
    }

    &-two {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 100px;
      margin-bottom: 80px;
      color: $color-white;

      h2 {
        margin: 0;
      }

      p {
        font-weight: 600;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin: 40px 0;
      }
    }
  }

  &__fact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    ". ."
    ". ."
    ". .";

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__fact-item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  &__fact-icon {
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 17px;
  }

  &__fact-text {
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
  }

  &__footer {
    display: flex;

    .btn {
      margin-left: vw(75);
      padding: 22px 32px;
      flex-shrink: 0;

      &:after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 6px;
        margin-left: 23px;
        background-image: url("@~images/icons/arrow-btn.svg");
        background-repeat: no-repeat;
        transition: background-image 0.15s;
      }

      &:hover {
        &:after {
          background-image: url("@~images/icons/arrow-btn-white.svg");
        }
      }
    }

    @include mobile {
      flex-direction: column;
      gap: 26px;
    }
  }

  &__price,
  &__date {
    flex-shrink: 0;
    p {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
    }

    span {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: $color-white;
      opacity: 0.5;
    }
  }

  &__price {
    margin-right: 32px;

    small {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      margin-left: 4px;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-white;
    text-decoration: none;
    transition: opacity 0.15s;

    &-img {
      background-image: url("@~images/trainer-item-bg.svg");
      background-size: contain;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    &-title {
      margin-top: 19px;
      p {
        @extend .paragraph;

        span {
          font-weight: 300;
          font-size: 14px;
          line-height: 1;
          opacity: 0.4;
          display: block;
        }
      }
    }

    &-skills {
      margin-top: 14px;
      display: flex;
      flex-direction: column;
      gap: 9px;
    }

    &-skill {
      position: relative;
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      padding-left: 18px;

      &:before {
        content: "";
        background-image: url("@~images/icons/li.svg");
        background-repeat: no-repeat;
        background-size: 9px;
        width: 9px;
        height: 9px;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }

    &:hover {
      color: $color-white;
      opacity: 0.7;
    }


    @media (max-width: 991px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 540px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @include mobile {
    padding-top: 0;
  }
}

.contact {
  background-image: url("@~images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;

  &__head {
    display: flex;
    width: 100%;
    margin-bottom: 54px;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
    }
  }

  &__adress {

  }

  &__connection {
    &-phone {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 6px;
    }

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__buttons {
    display: flex;

    .btn {
      padding: 22px 32px;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__socials {
    margin-left: 16px;
    display: flex;
    gap: 14px;

    a {
      transition: opacity 0.15s;
      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: 1200px) {
      margin: 0;
    }
  }

  &__social {
    width: 60px;
    height: 60px;
  }

  &__days {
    p {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 38px;
    }
  }

  &__map {
    position: relative;
    height: 580px;
    width: 100%;
  }

  &__img {
    position: absolute;
    top: 76px;
    left: 48px;
    width: 233px;
    height: 144px;
    z-index: 1;
  }
}
