@import 'bootstrap';
@import 'swiper/swiper-bundle.css';

/*
  Base
*/
@import './base/fonts';

/*
  Utils
*/
@import './utils/variables';
@import './utils/mixins';
@import './utils/keyframes';
@import './utils/responsive';

/*
  Components
*/
@import './components/footer';
@import './components/button';
@import './components/link';
@import './components/menu';
@import './components/slider';
@import './components/form';
@import './components/tab';

/*
  Layout
*/
@import './layout/general';
@import './layout/page';
