//- src/views/components/footer.pug

footer.footer
  .container
    .row
      .col-12.col-lg-4
        .footer__company
          p ИП Григорян А.С.
          p ИНН 310302759590
          p ОГРН 320312300058771
      .col-12.col-lg-4
        .footer__brand
          p 2022. Фитнес-клуб Gold Gym
      .col-12.col-lg-4.d-flex.justify-content-end
        .footer__links
          p
            a(href="#") Политика конфиденциальности
          p
            a(href="#") Договор-оферта
          .footer__oblako
            p!='Сделано в веб-студии <a href="#" target="_blank">"Облако"</a>'
